// New repository
.primary-container {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;

    .nav{
        background-color: #fafafa;
        display: flex;
        padding: 0px 20px;
        align-items: center;
        font-weight: bold;
        height: 50px;
        border-bottom: 1px solid rgb(182, 182, 182);
    }

    .nav_btn{
        @extend .nav;
        &:hover{
            cursor: pointer;
            text-decoration: underline;
            font-weight: bold;
        }
    }

    .view_dashboards{
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        border-radius: 15px;

      

        .container_dashboards{
            width: 100%;
            height: 100%;
            padding: 10px;
            box-sizing: border-box;
            display: flex;
            flex-wrap: wrap;
            gap: 20px;

            .card-dashboard{
                overflow: hidden;
                display: flex;
                flex-direction: column;
                justify-content: center;
                box-sizing: border-box;
                gap:5px;
                padding: 15px;
                border-radius: 5px;
                min-width: 350px;
                width: min-content;
                max-width: 1000px;
                min-height: 100px;
                height: min-content;
                max-height: 200px;
                border: 1px solid rgb(182, 182, 182);
                background-color: #fafafa;
                transition: all 0.2s;

                &:hover{
                    cursor: pointer;
                    background-color: #ffffff;
                    transition: all 0.2s;
                    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.142);
                    transform: scale(1.01);
                }

                .title{
                    font-weight: bold;
                    font-size: 1.3em;
                    white-space: nowrap;
                }
                .subtitle{
                    color: rgb(52, 52, 52);
                    font-size: 0.75em;
                }
            }
        }
    }

    .main {
        width: 100%;
        height: 100%;
        background-color:#f9f9f9;

        .title {
            margin: 10px;
            font-weight: bold;
            font-size: 0.9em;
        }

        .content {
            display: flex;
            flex-wrap: wrap;
            align-content: start;
            overflow: hidden;
            height: calc(100vh - 85px);
            width: 100%;
            position: relative;


            .chart-container {
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                min-width: 200px;
                width: min-content;
                height: min-content;
                resize: both;
                overflow: auto;
                min-height: 200px;
                margin: 10px;
                border: 1px solid black;
                background-color: white;
                border-radius: 5px;
                // padding: 10px;
                box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.137);

                .title {
                    font-weight: normal;
                    top: 5px;
                    left: 10px;
                    background-color: white;
                    position: absolute;
                }
            }
        }
    }

    .menu {
        position: relative;
        right: 0px;
        min-width: 40px;
        width: max-content;
        max-width: 400px;
        overflow-x: hidden;
        overflow-y: hidden;
        height: 100vh;
        border-left: 1px solid rgb(125, 125, 125);
        background-color: white;
        display: flex;
        flex-wrap: nowrap;

        .toggle-button-menu {
            min-width: 40px;
            max-width: 40px;
            grid-column: 1;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.2 all;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            animation: 2s callActionToggleMenu;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;

            &:hover {
                cursor: pointer;
                background-color: rgb(242, 242, 242);
                transition: 0.2 all;
            }
        }

        @keyframes callActionToggleMenu{
           from {
            background-color: rgb(233, 158, 109);
           }
           to{
            background-color: rgb(229, 229, 229);
           }

        }

        .menu-content {
            grid-column: 2;
            height: 100%;


            .title {
                font-size: 1em;
                font-weight: bold;
                margin-left: 10px;
                margin-top: 5px;
            }

            .subtitle {
                font-size: 0.8em;
                margin-left: 10px;
                margin-top: 5px;
            }

            .separador {
                width: 100%;
                height: 1px;
                background-color: gray;
                margin: 5px 0px;
            }

            .content-type-graphs {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-content: start;
                overflow-y: scroll;

                box-sizing: border-box;
                gap: 20px;
                width: 100%;
                height: calc(100vh - 86px);

                .box-graph {
                    width: 100px;
                    height: 100px;
                    margin: 10px;
                    border: 1px solid rgb(210, 210, 210);
                    border-radius: 5px;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &:hover {
                        transition: 0.2s all;
                        box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.048);
                        border: 1px solid rgb(152, 152, 152);
                        cursor: pointer;

                        img {
                            width: 35%;
                            height: 35%;
                            transition: 0.5s all;
                        }
                    }

                    img {
                        transition: 0.5s all;
                        width: 30%;
                        height: 30%;
                        filter: invert(0.5);
                    }

                    .title-content {
                        position: absolute;
                        width: 100%;
                        height: min-content;
                        bottom: 0px;
                        left: 0px;

                        .title {
                            margin: 5px;
                            font-weight: normal;
                            font-size: 0.85em;
                        }
                    }
                }

                .disabled{
                    img{
                        opacity: 0.5;
                    }
                    background-color: rgb(184, 184, 184);
                    .title-content{
                        .title{
                            color: gray;
                        }
                    }

                }
            }

            
        }
    }

    .menu-hidden{
        width: 0px;  
        overflow: hidden;  
        visibility: hidden;
        animation: 2s hidden_menu;
        transition: all 2s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
    }

    @keyframes hidden_menu {
        0% {
           transform: translateX(0%);
           opacity: 1;
        }

        100% {
             transform: translateX(calc(100% - 40px));
             opacity: 1;
        }
    }
}