<div class="primary-container" *ngIf="menu_tool == 0">
    <div class="view_dashboards">
        <div class="nav">
            Dashboards
            <div class="btn-create" (click)="set_menu_tool = 10">
                Crear dashboard
            </div>
        </div>
        <div class="container_dashboards" *ngIf="dashboards.length > 0">
            <div class="card-dashboard" *ngFor="let dashboard of dashboards; let idx = index"
                (click)="selectDashboard(dashboard.id_dashboard, dashboard.title)">
                <span class="title">
                    {{dashboard.title}}
                </span>
                <span class="subtitle">
                    {{dashboard.description}}
                </span>
            </div>
        </div>
        <div class="container_dashboards" *ngIf="dashboards.length == 0"
            style="display: flex; align-items: center; flex-direction: column;">
            <br>
            <iframe width="760" height="415" src="https://www.youtube.com/embed/Fy2I9lJapNY?si=b7MjLTX6a015XjaQ"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <span> Empieza a implementar tus herramientas en un dashboard</span>
        </div>
    </div>
</div>
<div class="primary-container" *ngIf="menu_tool == 1">
    <div class="main">
        <div class="nav" (click)="set_menu_tool = 0">Regresar | Dashboards</div>
        <div class="content">
            <app-tieldmap (editTool)="recibeToolEdit($event)" [id_dashboard]="(selectedDashboard? selectedDashboard:0)"
                [name_dashboard]="name_dashboard" style="width: 100%; height: 100%;">
            </app-tieldmap>

        </div>
    </div>
    <div class="menu" *ngIf="create_tool">
        <div class="toggle-button-menu " (click)="hiddenTools(menu)">
            <img src="./assets/graphs/expand.svg" alt="">
        </div>
        <div class="menu-content" #menu>
            <div class="content-type-graphs">
                <div class="box-graph" (click)="set_menu_tool = 2">
                    <img src="./assets/graphs/line_chart.svg" alt="line chart" class="image_contet">
                    <div class="title-content">
                        <div class="title">Gráfica linear</div>
                    </div>
                </div>
                <!-- <div class="box-graph disabled">
                    <img src="./assets/graphs/bar_chart.svg" alt="line chart" class="image_contet">
                    <div class="title-content">
                        <div class="title">Gráfica ica de barras</div>
                    </div>
                </div> -->
                <!-- <div class="box-graph disabled">
                    <img src="./assets/graphs/traffic.svg" alt="line chart" class="image_contet">
                    <div class="title-content">
                        <div class="title">Semáforo</div>
                    </div>
                </div>
                <div class="box-graph disabled">
                    <img src="./assets/graphs/gauge.svg" alt="line chart" class="image_contet">
                    <div class="title-content">
                        <div class="title">Gauge</div>
                    </div>
                </div> -->
                <!-- <div class="box-graph disabled">
                    <img src="./assets/graphs/text.svg" alt="line chart" class="image_contet">
                    <div class="title-content">
                        <div class="title">Texto</div>
                    </div>
                </div> -->

                <div class="box-graph" (click)="set_menu_tool = 3">
                    <img src="./assets/graphs/switch.svg" alt="line chart" class="image_contet">
                    <div class="title-content">
                        <div class="title">Botón simple</div>
                    </div>
                </div>
                <div class="box-graph" (click)="set_menu_tool = 11">
                    <img src="./assets/notes.svg" alt="line chart" class="image_contet">
                    <div class="title-content">
                        <div class="title">Notas</div>
                    </div>
                </div>
                <!-- <div class="box-graph disabled">
                    <img src="./assets/graphs/alert.svg" alt="line chart" class="image_contet">
                    <div class="title-content">
                        <div class="title">Alerta</div>
                    </div>
                </div> -->
                <div class="box-graph" (click)="set_menu_tool = 4">
                    <img src="./assets/graphs/indicator.svg" alt="line chart" class="image_contet">
                    <div class="title-content">
                        <div class="title">Indicador</div>
                    </div>
                </div>
                <div class="box-graph" (click)="set_menu_tool = 5">
                    <img src="./assets/graphs/camera.svg" alt="camera" class="image_contet">
                    <div class="title-content">
                        <div class="title">Cámara</div>
                    </div>
                </div>
                <div class="box-graph" (click)="set_menu_tool = 6">
                    <img src="./assets/graphs/pulse.svg" alt="pulse" class="image_contet">
                    <div class="title-content">
                        <div class="title">Pulsación</div>
                    </div>
                </div>
                <!-- <div class="box-graph disabled">
                    <img src="./assets/graphs/input.svg" alt="line chart" class="image_contet">
                    <div class="title-content">
                        <div class="title">Entrada de texto</div>
                    </div>
                </div> -->
                <div class="box-graph" (click)="set_menu_tool = 7">
                    <img src="./assets/image.svg" alt="line chart" class="image_contet">
                    <div class="title-content">
                        <div class="title">Imagen</div>
                    </div>
                </div>
                <div class="separador" style="margin-bottom: 50px; width: 100%; "></div>
            </div>
        </div>
    </div>
</div>
<div class="primary-container" *ngIf="menu_tool == 2">
    <app-configure-linear-graph [id_graph_selected]="edit_id_tool"
        [id_dashboard_selected]="selectedDashboard"></app-configure-linear-graph>
</div>
<div class="primary-container" *ngIf="menu_tool == 3">
    <app-configure-simple-button [id_dashboard_selected]="selectedDashboard"></app-configure-simple-button>
</div>
<div class="primary-container" *ngIf="menu_tool == 4">
    <app-configure-indicator [id_indicator_selected]="edit_id_tool"
        [id_dashboard_selected]="selectedDashboard"></app-configure-indicator>
</div>
<div class="primary-container" *ngIf="menu_tool == 5">
    <app-configure-camera style="width: 100%;" [id_dashboard_selected]="selectedDashboard"></app-configure-camera>
</div>
<div class="primary-container" *ngIf="menu_tool == 6">
    <app-configure-pulsacion style="width: 100%;" [id_dashboard_selected]="selectedDashboard"></app-configure-pulsacion>
</div>
<div class="primary-container" *ngIf="menu_tool == 7">
    <app-configure-image style="width: 100%;" [id_dashboard_selected]="selectedDashboard"
        [id_image_selected]="edit_id_tool"></app-configure-image>
</div>
<div class="primary-container" *ngIf="menu_tool == 11">
    <app-configure-pulsacion style="width: 100%;" [id_dashboard_selected]="selectedDashboard"></app-configure-pulsacion>
</div>
<div class="primary-container" *ngIf="menu_tool == 10">
    <div class="create-dashboard">
        <div class="nav">
            Creación de dashboard
        </div>
        <div class="content">
            <br>
            <div class="campo">
                <label for="title">Nombre de dashboard</label>
                <p>Asigna una palabra clave para poder identificar mejor tu dashboard.</p>
                <input type="text" name="title" #title>
            </div>
            <br>
            <div class="line"></div>
            <br>
            <div class="campo">
                <label for="description">Descripción</label>
                <p>Describe el uso de tu dashboard.</p>
                <input type="text" name="description" #description>
            </div>
            <br>
            <div class="line"></div>
            <br>
            <div class="container-controls">
                <div class="btn-create" *ngIf="viewCreateDashboardButton" style="background-color: #b998f1;"
                    (click)="createDashboard(title, description)">
                    Crear dashboard
                </div>
                <div class="cancelar" (click)="set_menu_tool = 0">
                    Cancelar
                </div>
            </div>
        </div>
    </div>
</div>