<div class="main">
    <div class="nav">
        <div class="opcion-nav">
            Gestion de cuentas
        </div>
        <div class="opcion-nav" *ngIf="menu===1" (click)="changeStatusMenu(2)">
            <img src="./assets/add.png" alt="add">
            Agregar usuario secundario
        </div>
        <div class="opcion-nav" *ngIf="menu===2" (click)="changeStatusMenu(1)">
            <img src="./assets/back.png" alt="add">
            Regresar
        </div>
        <div class="opcion-nav" *ngIf="menu===1" (click)="getUsers()">
            <img src="./assets/refresh.png" alt="refresh">
            Refrescar
        </div>
        <div class="opcion-nav">
            <img src="./assets/info.png" alt="info">
            Informacion
        </div>
    </div>
    <div class="busqueda" *ngIf="menu === 1">
        <div class="opciones-title">
            Buscar usuario
        </div>
        <div class="search">
            <input type="text" placeholder="Nombre del usuario" #search_input>
            <div class="search-btn" (click)="searchUser(search_input.value)">
                <img src="./assets/search.png" alt="search">
            </div>
        </div>
    </div>
    <!-- VISUALIZACION DE USUARIO -->
    <div class="users-containers" *ngIf="menu === 1">
        <div class="title-column">
            Nombre de usuario
        </div>

        <div class="title-column">
            Correo
        </div>
        <div class="title-column">
            Telefono
        </div>
        <div class="title-column">
            Numero de permisos
        </div>
        <div class="title-column">
            Usuario activo
        </div>
        <div class="container-card" *ngFor="let user of users">
            <div class="card"
                *ngIf="user.id_usuario != id_user && user.nombre_usuario.toLowerCase().includes(search_user_value.toLocaleLowerCase())">
                <span class="user" (click)="getOneUser(user.id_usuario)">{{user.nombre_usuario}}</span>
                <span class="user" (click)="getOneUser(user.id_usuario)">{{user.correo}}</span>
                <span class="user" (click)="getOneUser(user.id_usuario)">{{user.telefono}}</span>
                <span class="user" (click)="getOneUser(user.id_usuario)">
                    <span class="orange" style="color: orange;">
                        {{getPermissionsCount(user)}}
                    </span>
                    &nbsp; permisos otorgados
                </span>
                <span class="user">
                    <div class="checkbox-wrapper-10" *ngIf="user.enabled"
                        (click)="changeEnableduser(user.id_usuario, false)">
                        <input class="tgl tgl-flip" id={{user.id_usuario}} type="checkbox" checked />
                        <label class="tgl-btn" data-tg-off="Inactivo" data-tg-on="Activo"
                            for={{user.id_usuario}}></label>
                    </div>
                    <div class="checkbox-wrapper-10" *ngIf="!user.enabled"
                        (click)="changeEnableduser(user.id_usuario, true)">
                        <input class="tgl tgl-flip" id={{user.id_usuario}} type="checkbox" />
                        <label class="tgl-btn" data-tg-off="Inactivo" data-tg-on="Activo"
                            for={{user.id_usuario}}></label>
                    </div>
                </span>
            </div>
        </div>
    </div>
    <!-- FORMULARIO PARA CREAR USUARIO -->
    <div class="create_user_container" *ngIf="menu === 2">
        <div class="form-container">
            Datos principales
            <div class="line"></div>
            <div class="campo">
                <label for="username" class="subtitle">Nombre de usuario</label>
                <input type="text" name="username" id="username" class="ipt_text" #username
                    (click)="secundary_user_functions.input_nombre_usuario = username.value"
                    (keyup)="secundary_user_functions.input_nombre_usuario = username.value"
                    value={{userSelected?.nombre_usuario}}>
            </div>
            <div class="campo">
                <label for="email" class="subtitle">Zona horaria</label>
                <select type="text" name="zona_horaria" id="zona_horaria" class="ipt_text" #zona_horaria
                    (change)="secundary_user_functions.input_zona_horaria= zona_horaria.value">
                    <option disabled selected>
                        Selecciona la zona horaria
                    </option>
                    <option *ngFor="let horarios of zonas_horarias; let i = index">
                        {{horarios.nombre}}
                    </option>
                </select>
            </div>
            <!-- <div class="line_soft"></div> -->
            <div class="campo">
                <label for="email" class="subtitle">Correo electronico</label>
                <input type="text" name="email" id="email" class="ipt_text" #email
                    (click)="secundary_user_functions.input_correo= email.value"
                    (keyup)="secundary_user_functions.input_correo= email.value" value={{userSelected?.correo}}>
            </div>
            <!-- <div class="line_soft"></div> -->
            <div class="campo">
                <label for="password" class="subtitle">Contraseña</label>
                <input type="text" name="password" id="password" class="ipt_text" #password
                    (click)="secundary_user_functions.input_password= password.value"
                    (keyup)="secundary_user_functions.input_password= password.value" disabled>
                <span style="color: red; cursor: pointer;" *ngIf="userSelected"
                    (click)="enabledPasswordChange(password)">Cambiar contraseña</span>
            </div>
            <div class="campo">
                <label for="phone" class="subtitle">Telefono</label>
                <input type="text" name="phone" id="phone" class="ipt_text" #phone
                    (click)="secundary_user_functions.input_telefono = phone.value"
                    (keyup)="secundary_user_functions.input_telefono = phone.value" value={{userSelected?.telefono}}>
            </div>
            <div class="line_soft"></div>
            <div class="line"></div>
            Permisos del usuario
            <div class="line"></div>
            <div class="permisos-container">

                <div class="container-roles">
                    <div class="subtitle">
                        Permisos en la plataforma
                    </div>
                    <div class="rol">
                        <div class="subtitle">Modificar posiciones y tamaños de las herramientas</div>
                        <input type="checkbox" #modify_positions
                            (change)="secundary_user_functions.set_modify_position_tools = modify_positions.checked"
                            [checked]="userSelected?.access_functions?.modify_position_tools">
                    </div>

                    <div class="rol">
                        <div class="subtitle">Editar herramientas</div>
                        <input type="checkbox" #edit_tools
                            (change)="secundary_user_functions.set_edit_tools = edit_tools.checked"
                            [checked]="userSelected?.access_functions?.edit_tools">
                    </div>
                
                    <div class="rol">
                        <div class="subtitle">Crear herramientas</div>
                        <input type="checkbox" #create_alerts
                            (change)="secundary_user_functions.set_create_tools = create_alerts.checked"
                            [checked]="userSelected?.access_functions?.create_tools">
                    </div>
                    <div class="rol">
                        <div class="subtitle">Gestionar alertas</div>
                        <input type="checkbox" #alerts
                            (change)="secundary_user_functions.set_alerts = alerts.checked"
                            [checked]="userSelected?.access_functions?.alerts">
                    </div>
                    <div class="rol">
                        <div class="subtitle">Ver variables</div>
                        <input type="checkbox" #watch_tools
                            (change)="secundary_user_functions.set_watch_variables = watch_tools.checked"
                            [checked]="userSelected?.access_functions?.watch_variables">
                    </div>
                </div>
            </div>
            <div class="btn-guardar" (click)="saveUser()" *ngIf="!userSelected">
                Crear usuario
            </div>
            <div class="btn-guardar" (click)="updateUser()" *ngIf="userSelected">
                Actualizar usuario
            </div>
        </div>
    </div>