
*{
    box-sizing: border-box;
}

.container-cards{
    width: calc(100vw - 232px);
    overflow: hidden;
    height: calc(100vh - 80px);
    overflow-y: scroll;
    // border: 1px solid red;
}
.subscription-container {
    padding: 2rem;
    width: 100%;
    // background-color: blue;
    height: 100%;
    margin: 0 auto;
  }

  .title {
    text-align: center;
    color: #333;
    font-size: calc(1vw + 10px);
  }

  .plans-grid {
    margin-top: 20px;
    padding: 10px;
    background-color: red;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    padding: 1rem;
  }

  .plan-card {
    position: relative;
    background: white;
    max-width: 300px;
    min-width: 300px;
    margin-bottom: 60px;
    height: 95%;
    min-height: 500px;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid black;
    transition: transform 0.3s ease;

    &:nth-child(4){
        min-height: 550px;
    }
  }

  .plan-card:hover {
    transform: translateY(-5px);
  }

  .plan-card.recommended {
    border: 2px solid #4CAF50;
    position: relative;
  }

  .plan-card.recommended::after {
    content: "Recomendado";
    position: absolute;
    top: -12px;
    right: 10px;
    background: #4CAF50;
    color: white;
    padding: 4px 12px;
    border-radius: 12px;
    font-size: 0.8rem;
  }

  .plan-header {
    text-align: center;
    // margin-bottom: 0.5rem;
  } 

  .plan-header h2 {
      color: #333;
      font-size: calc(0.6vw + 10px);
    
    // margin-bottom: 0.5rem;
  }

  .price {
    font-size: 1.2em;
    color: #2196F3;
    font-weight: bold;
  }

  .price span {
    font-size: 1rem;
    color: #666;
  }

  .features {
    list-style: none;
    padding: 0;
    // ma rgin: 0 0 1.5rem 0;
  }

  .features li {
    padding: 0.5rem 0;
    font-size: calc(0.4vw + 8px);
    color: #666;
  }

  .subscribe-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    padding: 1rem;
    background: #2196F3;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
  }

  .subscribe-btn:hover {
    background: #1976D2;
  }

  @media screen and (max-width: 700px){
    .container-cards{
        width:100vw;
        overflow: hidden;
        height: calc(100vh - 80px);
        overflow-y: scroll;
        // border: 1px solid red;
    }    
}