* {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

$COLOR_TEXT: #607328;

@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-content {
  --ion-background-color: transparent;
  min-height: 100vh;
  width: 100vw;
  position: relative;
  margin: 0 auto;
  border-left: 1px solid $COLOR_TEXT;
  border-right: 1px solid $COLOR_TEXT;

}

main  {
  min-height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;

  .informacion {
    z-index: 1;
    background-color: #EFF2E6;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .gear,
    .decoration1,
    .decoration2,
    .decoration3 {
      position: absolute;
      @include center();
      width: 15vw;
      height: 15vw;

      ion-img {
        width: 100%;
        height: 100%;
      }
    }

    .gear {
      filter: invert(0.6);
      top: -2vw;
      left: -2vw;
    }

    .decoration1 {
      top: -6vw;
      left: -6vw;
      transform: rotate(45deg);
    }

    .decoration2 {
      top: -2vw;
      right: -2vw;
    }

    .decoration3 {
      bottom: 0;
      right: -2vw;
    }

    .contenedor-informacion {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: white;
      text-align: justify;
      width: 100%;
      padding: 50px;
      height: min-content;
      font-size: 20px;

      .title {
        font-family: 'lemon_milk', sans-serif;
        font-size: calc(1.5vw + 16px);
        font-weight: bold;
        color: black;
      }

      .subtitle {
        font-family: 'Mukta', sans-serif;
        font-weight: bold;
        font-size: calc(0.6vw + 6px);
        color: #484848;
      }

      ion-img {
        width: 100%;
        height: auto;
        transition: all 0.5s;
        animation: 3s slide;

        @keyframes slide {
          0% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
      }
    }
  }

  .formulario {
    height: 100vh;
    position: relative;
    background-color: rgb(255, 255, 255);
    @include center();

    .derechos {
      font-size: 0.8em;
      position: absolute;
      bottom: 5%;
      left: 5%;
    }

    form {
      padding: 10px 30px;
      width: 80%;
      min-height: 500px;
      background-color: rgba(255, 255, 255, 0.583);
      border-radius: 5px;

      .form-title {
        width: 100%;
        font-size: 1.3em;
        font-weight: bold;
        color: black;
      }

      .form-description {
        width: 100%;
        font-size: 0.9em;
        font-weight: 500;
        margin-top: 5px;
        color: rgb(91, 91, 91);
      }

      .bloque-entrada {
        width: 100%;
        margin: 30px 0;

        ion-label {
          font-weight: bold;
          font-size: 0.8em;
        }

        ion-input {
          --padding-start: 10px;
          --padding-end: 10px;
          border-radius: 8px;
          border: 1px solid rgb(187, 187, 187);
          font-size: 0.8em;
          margin: 5px 0;

          &:focus {
            outline: none;
            border: 1px solid rgb(100, 177, 241);
          }
        }
      }

      .btn-login {
        margin-top: 30px;
        width: 100%;
        height: 50px;
        background-color: #EFF2E6;
        overflow: hidden;
        border-radius: 5px;
        font-weight: bold;
        color: rgb(38, 38, 38);
        position: relative;
        @include center();

        &:hover {
          transition: all 0.5s;
          .front {
            color: #39480D;
            transition: all 0.5s;
            transform: translateX(100%);
          }
        }

        .back {
          @include center();
          background-color: white;
          width: 100%;
          height: 100%;
        }

        .front {
          @include center();
          background-color: #EFF2E6;
          color: $COLOR_TEXT;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          transition: all 0.5s;
        }

        ion-button.focus {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          z-index: 2;
          cursor: pointer;
        }
      }

      .register {
        font-size: 0.8em;
        margin-top: 70px;
        cursor: pointer;
        @include center();

        span {
          margin-left: 5px;
          color: black;
          font-weight: bold;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

// Estilos responsivos para dispositivos móviles
@media screen and (max-width: 1000px) {
  main {
    display: flex;
    flex-direction: column;
    height: 100vh;

    .formulario {
      width: 100vw;
      padding: 0;

      form {
        width: 100%;
        margin: 0;
      }
    }

    .informacion {
      display: none;
    }
  }
}
