<ion-content>
  <main>
    <section class="formulario">
      <div class="container-icon">
        <ion-img src="./assets/" alt="" class="icon"></ion-img>
      </div>
      <!--------------------------------->
      <form *ngIf="isLogin" [formGroup]="loginGroup">
        <div class="form-title">Inicio de sesión</div>
        <div class="form-description">Inicia sesión para empezar a organizar tu inventario</div>

        <ion-item class="bloque-entrada">
          <ion-label position="floating">Nombre de usuario</ion-label>
          <ion-input type="text" formControlName="nombre_usuario" placeholder="example@example.com" autocomplete="off"></ion-input>
        </ion-item>

        <ion-item class="bloque-entrada">
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" formControlName="password" placeholder="Password" autocomplete="off" (keyup.enter)="loggear()"></ion-input>
        </ion-item>

        <div class="bloque-general">
          <ion-item lines="none" class="container-recordar">
            <ion-checkbox slot="start"></ion-checkbox>
            <ion-label>Recordarme</ion-label>
          </ion-item>
        </div>

        <div class="btn-login">
          <span class="back">Comenzar!</span>
          <div class="front">Iniciar sesión</div>
          <ion-button fill="clear" class="focus" (click)="loggear()"></ion-button>
        </div>

        <div class="register" (click)="changeLogin_Status()">
          ¿No tienes una cuenta? <span>Crea una cuenta</span>
        </div>
      </form>
      <!--------------------------------->
      <form *ngIf="!isLogin" [formGroup]="registerGroup">
        <div class="form-title">Registrar usuario</div>

        <ion-item class="bloque-entrada">
          <ion-label position="floating">Nombre de usuario</ion-label>
          <ion-input type="text" formControlName="nombre_usuario" placeholder="Gustavo_Mayorga" autocomplete="off"></ion-input>
        </ion-item>

        <ion-item class="bloque-entrada">
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" formControlName="password" placeholder="Password" autocomplete="off"></ion-input>
        </ion-item>

        <ion-item class="bloque-entrada">
          <ion-label position="floating">Correo electrónico</ion-label>
          <ion-input type="email" formControlName="correo" placeholder="awesome@example.com" autocomplete="off"></ion-input>
        </ion-item>

        <ion-item class="bloque-entrada">
          <ion-label position="floating">Teléfono</ion-label>
          <ion-input type="tel" formControlName="telefono" autocomplete="off"></ion-input>
        </ion-item>

        <div class="btn-login" *ngIf="isLoadingRegister">
          <span class="back">Bienvenido!</span>
          <div class="front">Registrar usuario</div>
          <ion-button fill="clear" class="focus" (click)="register()"></ion-button>
        </div>

        <div class="register" (click)="changeLogin_Status()">Iniciar sesión</div>
      </form>
      <!--------------------------------->
      <span class="derechos">CMA 2023. Todos los derechos reservados</span>
    </section>

    <section class="informacion">
      <div class="decoration2">
        <ion-img src="./assets/design/cuadros.png" alt="decoracion"></ion-img>
      </div>
      <div class="decoration1">
        <ion-img src="./assets/design/PatronCirculos.png" alt="decoracion"></ion-img>
      </div>
      <div class="decoration3">
        <ion-img src="./assets/design/patronCirculos2.png" alt="decoracion"></ion-img>
      </div>

      <div class="contenedor-informacion">
        <span class="title">CMA WEB SCADA SYSTEM</span>
        <span class="subtitle">Control, Monitoreo y Alertado</span>
      </div>
    </section>
  </main>
</ion-content>
