.container-primary
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: hidden;
    width: 100vw;
    height: 100vh;

    .title-header{
        width: 100%;
        min-height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        font-size: 1.3em;
        font-weight: bold;
        padding: 0px 20px;
        border-bottom: 1px solid rgb(154, 154, 154);

        .user
        {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            font-size: calc(0.4vw + 6px);

            .user_text{
                text-decoration: underline;
                cursor: pointer;
            }
            .circle_live{
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-content: center;
                width: 15px;
                height: 15px;
                background-color: rgb(155, 224, 52);
            }
        }
    }

    .main{
        width: calc(100vw - 230px);
        flex-wrap: nowrap;
        display: flex;
        .container-pages{
            min-width: 100%;
            overflow: hidden;
            min-height: 100%;
            max-height: 100%;
        }
    }
}

.jsonFormatter{
    width: 90%;
    max-height: 90vh;
    overflow: auto;
    border-radius: 5px;
    border: 1px solid black;
    margin: auto;
    font-size: 0.8em;
}

.key_json{
    &:hover{
        cursor: pointer;
        color: black;
        transform: scale(1.01);
        text-decoration: underline;
    }
}
