<div class="main">
    <div class="container-admin">
        <div class="left">
            <div class="container-menu">
                <div class="separador">
                    <div class="title">Administracion de cuenta</div>
                    <div class="line"></div>
                </div>
                <div class="options" (click)="changeMenuCuenta(1)">
                    <div class="icon">
                        <img src="./assets/person.svg" alt="🙂">
                    </div>
                    <div class="title">Mi cuenta</div>
                </div>
                <div class="options" (click)="changeMenuCuenta(2)" *ngIf="rango === 'PRIMARY'">
                    <div class="icon">
                        <img src="./assets/manage_accounts.svg" alt="👨‍👩‍👧‍👦">
                    </div>
                    <div class="title">Gestion de cuentas</div>
                </div>
                <div class="options" (click)="changeMenuCuenta(3)" *ngIf="rango === 'PRIMARY'">
                    <div class="icon">
                        <img src="./assets/payment.png" alt="💵">
                    </div>
                    <div class="title">Mi suscripción</div>
                </div>
                <!-- <div class="options" (click)="changeMenuCuenta(3)">
                    <div class="icon">
                        <img src="./assets/api.svg" alt="🌐">
                    </div>
                    <div class="title">Accesos API</div>
                </div> -->
            </div>
        </div>
        <div class="right">
            <app-mi-cuenta *ngIf="menuCuenta == 1" style="width: 100%;"></app-mi-cuenta>
            <app-gestion-cuentas *ngIf="menuCuenta == 2" style="width: 100%;"></app-gestion-cuentas>
            <app-accesos-api *ngIf="menuCuenta == 3" style="width: 100%;"></app-accesos-api>
        </div>
    </div>
</div>