<div class="container-menu">
    <div class="derechos">®️CMA. Todos los derechos reservados</div>
    <div class="separador">
        <div class="title">Funciones</div>
        <div class="line"></div>
    </div>     
    <div class="options" (click)="change_option_event(3)">
        <div class="icon">
            <img src="./assets/dashboard.png" alt="📉">
        </div>
        <div class="title">Dashboard</div>
    </div>
    <div class="options" (click)="change_option_event(5)" *ngIf="watch_variables">
        <div class="icon">
            <img src="./assets/tag.svg" alt="📉">
        </div>
        <div class="title">Variables</div>
       
    </div>
    <div class="options" (click)="change_option_event(4)" *ngIf="alerts">
        <div class="icon">
            <img src="./assets/functions.png" alt="📉">
        </div>
        <div class="title">Alertas</div>
    </div>
    <!-- <div class="options" (click)="change_option_event(1)">
        <div class="icon">
            <img src="./assets/sequence.svg" alt="📉">
        </div>
        <div class="title">Secuencias</div>
    </div> -->
    <div class="options" (click)="change_option_event(9)">
        <div class="icon">
            <img src="./assets/message.png" alt="📉">
        </div>
        <div class="title">API Alertas SMS</div>
    </div>
    <div class="separador">
        <div class="title">Sistema</div>
        <div class="line"></div>
    </div>     
    <div class="options" (click)="change_option_event(2)">
        <div class="icon">
            <img src="./assets/user.png" alt="📉">
        </div>
        <div class="title">Cuenta</div>
    </div>
    <div class="options" (click)="change_option_event(7)">
        <div class="icon">
            <img src="./assets/payment.png" alt="📉">
        </div>
        <div class="title">Pagos</div>
    </div>
    <div class="options" (click)="change_option_event(8)">
        <div class="icon">
            <img src="./assets/ticket.png" alt="📉">
        </div>
        <div class="title">Tickets</div>
    </div>
    <div class="options" (click)="change_option_event(6)">
        <div class="icon">
            <img src="./assets/logout.png" alt="📉">
        </div>
        <div class="title">Salir</div>
    </div>
</div>