<div class="main">
    <div class="create_user_container">
        <div class="content_nav">
            Perfil
        </div>
        <div class="form-container">
            <div class="campo">
                <label for="username" class="subtitle" style="white-space: nowrap;">Nombre de usuario</label>
                <input type="text" name="username" id="username" class="ipt_text" #username
                    (click)="secundary_user_functions.input_nombre_usuario = username.value"
                    (keyup)="secundary_user_functions.input_nombre_usuario = username.value"
                    value={{userSelected?.nombre_usuario}}>
            </div>
            <div class="campo">
                <label for="username" class="subtitle" style="white-space: nowrap;">Zona horaria</label>
                <select type="text" name="username" id="username" class="ipt_text" #zona_horaria (change)="change_zona_horaria(zona_horaria.value)" >
                    <option value={{userSelected?.zona_horaria}} selected disabled>
                        {{userSelected?.zona_horaria}}
                    </option>
                    <option *ngFor="let horarios of zonas_horarias; let i = index" value="{{horarios.nombre}}">
                        {{horarios.nombre}}
                    </option>
                </select>
            </div>
            <div class="campo">
                <label for="email" class="subtitle">Correo electronico</label>
                <input type="text" name="email" id="email" class="ipt_text" #email
                    (click)="secundary_user_functions.input_correo= email.value"
                    (keyup)="secundary_user_functions.input_correo= email.value" value={{userSelected?.correo}}>
            </div>
            <div class="campo">
                <label for="phone" class="subtitle">Telefono</label>
                <input type="text" name="phone" id="phone" class="ipt_text" #phone
                    (click)="secundary_user_functions.input_telefono = phone.value"
                    (keyup)="secundary_user_functions.input_telefono = phone.value" value={{userSelected?.telefono}}>
            </div>
            <div class="line_soft"></div>
            <div class="line"></div>
            <span class="title-category">
                Permisos del usuario: Funciones de variables
            </span>
            <div class="line"></div>
            <div class="permisos-container">
                <div class="container-roles">
                    <div class="subtitle">
                        Acceso a creacion de variables
                    </div>
                    <div class="rol">
                        <div class="subtitle">Crear variables json endpoint</div>
                        <input type="checkbox" disabled #create_json
                            (change)="secundary_user_functions.input_crear_variable_json = create_json.checked"
                            [checked]="userSelected?.access_functions?.edit_json_connection">
                    </div>
                    <div class="rol">
                        <div class="subtitle">Crear variables modbus</div>
                        <input type="checkbox" disabled #create_modbus
                            (change)="secundary_user_functions.input_crear_variable_modbus = create_modbus.checked"
                            [checked]="userSelected?.access_functions?.edit_modbus_connection">
                    </div>
                    <div class="rol">
                        <div class="subtitle">Crear variables de memoria</div>
                        <input type="checkbox" disabled #create_memoria
                            (change)="secundary_user_functions.input_crear_variable_memory = create_memoria.checked"
                            [checked]="userSelected?.access_functions?.edit_memory_connection">
                    </div>
                    <div class="rol">
                        <div class="subtitle">Crear variables cma endpoint</div>
                        <input type="checkbox" disabled #create_endpoint
                            (change)="secundary_user_functions.input_crear_variable_endpoint = create_endpoint.checked"
                            [checked]="userSelected?.access_functions?.edit_endpoint_connection">
                    </div>
                    <div class="subtitle">
                        Eliminar la creacion de variable
                    </div>
                    <div class="rol">
                        <div class="subtitle">Eliminar variables json endpoint</div>
                        <input type="checkbox" disabled #eliminar_json
                            (change)="secundary_user_functions.input_eliminar_variable_json = eliminar_json.checked"
                            [checked]="userSelected?.access_functions?.drop_json_connection">
                    </div>
                    <div class="rol">
                        <div class="subtitle">Eliminar variables modbus</div>
                        <input type="checkbox" disabled #eliminar_modbus
                            (change)="secundary_user_functions.input_eliminar_variable_modbus = eliminar_modbus.checked"
                            [checked]="userSelected?.access_functions?.drop_modbus_connection">
                    </div>
                    <div class="rol">
                        <div class="subtitle">Eliminar variables memoria</div>
                        <input type="checkbox" disabled #eliminar_memory
                            (change)="secundary_user_functions.input_eliminar_variable_memory = eliminar_memory.checked"
                            [checked]="userSelected?.access_functions?.drop_memory_connection">
                    </div>
                    <div class="rol">
                        <div class="subtitle">Eliminar variables cma endpoint</div>
                        <input type="checkbox" disabled #eliminar_endpoint
                            (change)="secundary_user_functions.input_eliminar_variable_endpoint = eliminar_endpoint.checked"
                            [checked]="userSelected?.access_functions?.drop_endpoint_connection">
                    </div>
                </div>

            </div>
            <div class="line"></div>
            <span class="title-category">
                Permisos del usuario: Funciones de dashboard
            </span>
            <div class="line"></div>
            <div class="permisos-container">
                <div class="container-roles">
                    <div class="subtitle">
                        Acceso del dashboard
                    </div>
                    <div class="rol">
                        <div class="subtitle">Manipular dashboard</div>
                        <input type="checkbox" disabled #manipule_tieldmap
                            (change)="secundary_user_functions.input_modify_tieldmap = manipule_tieldmap.checked"
                            [checked]="userSelected?.access_functions?.modify_tieldmap">
                    </div>
                    <div class="rol">
                        <div class="subtitle">Crear graficos lineales</div>
                        <input type="checkbox" disabled #create_line_graph
                            (change)="secundary_user_functions.input_crear_line_graph = create_line_graph.checked"
                            [checked]="userSelected?.access_functions?.create_line_graph">
                    </div>
                    <div class="rol">
                        <div class="subtitle">Crear botones simples</div>
                        <input type="checkbox" disabled #create_simple_button
                            (change)="secundary_user_functions.input_crear_simple_button = create_simple_button.checked"
                            [checked]="userSelected?.access_functions?.create_simple_button">
                    </div>
                </div>

            </div>
            <div class="line"></div>
            <span class="title-category">
                Permisos del usuario: Funciones de alertas
            </span>
            <div class="line"></div>
            <div class="permisos-container">
                <div class="container-roles">
                    <div class="subtitle">
                        Acceso a alertas
                    </div>
                    <div class="rol">
                        <div class="subtitle">Ver eventos de las alertas sms</div>
                        <input type="checkbox" disabled #view_logs_alert_sms
                            (change)="secundary_user_functions.input_logs_alertas_sms = view_logs_alert_sms.checked"
                            [checked]="userSelected?.access_functions?.view_alert_sms_logs">
                    </div>
                    <div class="rol">
                        <div class="subtitle">Crear alertas sms</div>
                        <input type="checkbox" disabled #create_alert_sms
                            (change)="secundary_user_functions.input_crear_alertas_sms = create_alert_sms.checked"
                            [checked]="userSelected?.access_functions?.create_alert_sms">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>