<div class="main">
    <div class="create_user_container">
        <div class="form-container">
            <h1 style="margin: 0px; padding: 3px 10px; font-size: calc(0.6vw + 12px); font-weight: normal; border: 1px solid black; border-radius: 5px; background-color: wheat;">Perfil</h1>

            <div class="campo">
                <label for="username" class="subtitle" style="white-space: nowrap;">Nombre de usuario</label>
                <input type="text" name="username" id="username" class="ipt_text" #username
                    (click)="secundary_user_functions.input_nombre_usuario = username.value"
                    (keyup)="secundary_user_functions.input_nombre_usuario = username.value"
                    value={{userSelected?.nombre_usuario}}>
            </div>
            <div class="campo">
                <label for="username" class="subtitle" style="white-space: nowrap;">Zona horaria</label>
                <select type="text" name="username" id="username" class="ipt_text" #zona_horaria (change)="change_zona_horaria(zona_horaria.value)" >
                    <option value={{userSelected?.zona_horaria}} selected disabled>
                        {{userSelected?.zona_horaria}}
                    </option>
                    <option *ngFor="let horarios of zonas_horarias; let i = index" value="{{horarios.nombre}}">
                        {{horarios.nombre}}
                    </option>
                </select>
            </div>
            <div class="campo">
                <label for="email" class="subtitle">Correo electronico</label>
                <input type="text" name="email" id="email" class="ipt_text" #email
                    (click)="secundary_user_functions.input_correo= email.value"
                    (keyup)="secundary_user_functions.input_correo= email.value" value={{userSelected?.correo}}>
            </div>
            <div class="campo">
                <label for="phone" class="subtitle">Telefono</label>
                <input type="text" name="phone" id="phone" class="ipt_text" #phone
                    (click)="secundary_user_functions.input_telefono = phone.value"
                    (keyup)="secundary_user_functions.input_telefono = phone.value" value={{userSelected?.telefono}}>
            </div>
            <!-- <div class="line_soft"></div> -->
            <div class="line"></div>
            <span class="title-category">
                Permisos del usuario: Funciones de variables
            </span>
            <div class="line"></div>
            <div class="permisos-container">

                <div class="container-roles">
                    <div class="subtitle">
                        Permisos en la plataforma
                    </div>
                    <div class="rol">
                        <div class="subtitle">Modificar posiciones y tamaños de las herramientas</div>
                        <input type="checkbox" #modify_positions
                            (change)="secundary_user_functions.set_modify_position_tools = modify_positions.checked"
                            [checked]="userSelected?.access_functions?.modify_position_tools" disabled>
                    </div>

                    <div class="rol">
                        <div class="subtitle">Editar herramientas</div>
                        <input type="checkbox" #edit_tools
                            (change)="secundary_user_functions.set_edit_tools = edit_tools.checked"
                            [checked]="userSelected?.access_functions?.edit_tools" disabled>
                    </div>
                
                    <div class="rol">
                        <div class="subtitle">Crear herramientas</div>
                        <input type="checkbox" #create_alerts
                            (change)="secundary_user_functions.set_create_tools = create_alerts.checked"
                            [checked]="userSelected?.access_functions?.create_tools" disabled>
                    </div>
                    <div class="rol">
                        <div class="subtitle">Gestionar alertas</div>
                        <input type="checkbox" #alerts
                            (change)="secundary_user_functions.set_alerts = alerts.checked"
                            [checked]="userSelected?.access_functions?.alerts" disabled>
                    </div>
                    <div class="rol">
                        <div class="subtitle">Ver variables</div>
                        <input type="checkbox" #watch_tools
                            (change)="secundary_user_functions.set_watch_variables = watch_tools.checked"
                            [checked]="userSelected?.access_functions?.watch_variables" disabled>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>